<h2>New Course</h2>

<form action="/users/course-overview" method="POST">

Title: <input type="text" name="title" placeholder="Title"> <br>
Bootcamp: <select name="bootcamp">
          <option>UI/UX</option>
          <option>Web Dev</option>
          </select> <br>

{{!-- Place button inside form tag in order to submit data --}}
<button type="submit">Add</button>

</form>